<!--
Filename : modifyDealerView.html
Project :dealerAudit
Language : HTML
Framework: Ionic
Author : Mohammed Aamir K
Date of creation : 08-08-2016
Description : This Provides the design for creating/updating dealer information.
-->

<ion-nav-view can-swipe-back="false">
  <ion-pane>
    <ion-header-bar class="bar bar-header headerBar" align-title="center">
        <!--Back Button-->
        <img class="button button-icon ion-navicon headerBarIcon backButton" id="searchBackBttn" ng-src={{backIcon}} ng-click="backButtonClicked()" />
        <!--Back Button-->

        <!--Header Bar Title -->
        <!-- <h1 class="title dashboardTitleText" id="dashBoardHeaderTitle" >Add or Modify Dealer</h1>			     -->
        <h1 class="title headerBarTitle headerTitleDashBoard" id="dashBoardHeaderTitle">Add New Dealer</h1>
        <!--Header Bar Title  -->
    </ion-header-bar>

    <ion-content has-footer="true" class="SettingsPageBg" scroll="true">
        <div class="addDealerScreenDiv">
          <form name="dealerForm" id="dealerForm" >
            
            <fieldset ng-disabled="formDisable">
            <!-- <div class="row InputStyle" ng-class="($scope.dealerErrorMsg.companyNameErr)"> -->
            <div ng-class="((dealerForm.companyname.$touched && dealerForm.companyname.$invalid) || dealerErrorMsg.companyNameErr) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblCompanyName'|translate}}</label>                
                <input id="companyName" name="companyName" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.dealer_name"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}} required>                
                
            </div>
            <!-- <p class="validationErrorText" ng-if="dealerErrorMsg.companyNameErr">{{companyNameError}}</p> -->
            <p class="validationErrorText" ng-if="((dealerForm.companyname.$touched && dealerForm.companyname.$invalid) || dealerErrorMsg.companyNameErr)">{{companyNameError}}</p>
            
            <div ng-class="((dealerForm.email.$error.email || dealerForm.email.$error.pattern)) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblEmail'|translate}}</label>
                <input id="email" name="email" focus-on="focusMe" type="email" class="dealerInputStyle"  ng-model="dealerData.email"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <p class="validationErrorText" ng-if="((dealerForm.email.$error.email || dealerForm.email.$error.pattern))">{{emailError}}</p>
            
            <div ng-class="((dealerForm.phone.$error.tel || dealerForm.phone.$error.pattern)) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblPhone'|translate}}</label>
                <input id="phone" name="phone" focus-on="focusMe" type="tel" ng-pattern ="phoneFormat || international" class="dealerInputStyle"  ng-model="dealerData.phone"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <p class="validationErrorText" ng-if="((dealerForm.phone.$error.tel || dealerForm.phone.$error.pattern))">{{phoneError}}</p>
            
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblNetwork'|translate}}</label>
                <input id="network" name="network" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.network"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <div ng-class="((dealerForm.address.$touched && dealerForm.address.$invalid) || dealerErrorMsg.addressErr) ? 'row InputStyleError' : 'row InputStyle'">                           
                <label class="DealerLabelStyle">{{'lblAddress'|translate}}</label>
                <input id="address" name="address" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.address"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" required>
            </div>
            <p class="validationErrorText" ng-if="((dealerForm.address.$touched && dealerForm.address.$invalid) || dealerErrorMsg.addressErr)">{{addressError}}</p>
            
            <div ng-class="((dealerForm.zipCode.$touched && dealerForm.zipCode.$invalid) || dealerErrorMsg.postCodeErr) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblZipCode'|translate}}</label>
                <input id="zipCode" name="zipCode" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.post_code"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}} required>
            </div>            
            <p class="validationErrorText" ng-if="((dealerForm.zipCode.$touched && dealerForm.zipCode.$invalid) || dealerErrorMsg.postCodeErr)">{{postCodeError}}</p>
            
            <div ng-class="((dealerForm.city.$touched && dealerForm.city.$invalid) || dealerErrorMsg.cityErr) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblCity'|translate}}</label>
                <input id="city" name="city" focus-on="focusMe" type="text" placeholder="" class="dealerInputStyle"  ng-model="dealerData.city_name"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}} googleplace disabletap required>
            </div>
            <p class="validationErrorText" ng-if="((dealerForm.city.$touched && dealerForm.city.$invalid) || dealerErrorMsg.cityErr)">{{cityError}}</p>
            
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblCountry'|translate}}</label>
                <input id="country" name="country" focus-on="focusMe" type="text" placeholder="" class="dealerInputStyle"  ng-model="dealerData.country_name"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}} googleregion disabletap>
            </div>
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblHoldingName'|translate}}</label>
                <input id="holdingName" name="holdingName" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.holding_name"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblHoldingCode'|translate}}</label>
                <input id="holdingCode" name="holdingCode" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.holding_code"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblPayerCode'|translate}}</label>
                <input id="payerCode" name="payerCode" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.payer_code"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <div ng-class="((dealerForm.posCode.$touched && dealerForm.posCode.$invalid) || dealerErrorMsg.posCodeErr) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblPOSCode'|translate}}</label>
                <input id="posCode" name="posCode" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.pos_code"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}} required>
            </div>
            <p class="validationErrorText" ng-if="((dealerForm.posCode.$touched && dealerForm.posCode.$invalid) || dealerErrorMsg.posCodeErr)">{{posCodeError}}</p>
            
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblParticipantTF'|translate}}</label>
                <div class="langDropDownTF" ng-model="dealerData.participating_tf" id="selectLanguage"
                dropdown-select="participantOptions"
        				dropdown-model="participantSelected"
        				dropdown-item-label="text"
                dropdown-onchange="setParticipant(selected)">
        				<!-- dropdown-onchange="setLanguage(selected)"> -->
        			    </div>
                <!-- <input id="participating_tf" name="participating_tf" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-model="dealerData.pos_code"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}"> -->
            </div>
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblTAM'|translate}}</label>
                <input id="TAM" name="TAM" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <div ng-class="((dealerForm.tts.$touched && dealerForm.tts.$invalid) || dealerErrorMsg.ttsErr) ? 'row InputStyleError' : 'row InputStyle'">
                <label class="DealerLabelStyle">{{'lblTTS'|translate}}</label>
                <input id="tts" name="tts" focus-on="focusMe" type="text" class="dealerInputStyle" ng-model="dealerData.tts_name"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}} required>
            </div>
            <p class="validationErrorText" ng-if="((dealerForm.tts.$touched && dealerForm.tts.$invalid) || dealerErrorMsg.ttsErr)">{{ttsError}}</p>

            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblAuditDate'|translate}}</label>
                <!-- <span class="ion-calendar"></span> -->
                <input id="auditDate" name="auditDate" focus-on="focusMe" type="date" class="dealerInputDateStyle" value="{{date | date:'MM/dd/yyyy'}}" ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}">
            </div>

            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblauditPersonContact'|translate}}</label>
                <input id="auditPersonContact" name="auditPersonContact" focus-on="focusMe" type="text" class="dealerInputStyle" ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            <div class="row InputStyle">
                <label class="DealerLabelStyle">{{'lblauditDoneBy'|translate}}</label>
                <input id="auditDoneBy" name="auditDoneBy" focus-on="focusMe" type="text" class="dealerInputStyle"  ng-trim="false" style="color:grey;-webkit-text-security: {{inputSecurityStyle}}" maxlength={{dealerDetailsLength.dealerScreenInputMaxLength}}>
            </div>
            </fieldset>
          </form>
        </div>
    </ion-content>
    <div >
        <!--footer Section start -->
        <ion-footer-bar ng-show="buttonVisibility" style="position:fixed;" class="bar bar-footer footerstyle footerStyleDashBoard">
            <button class="buttonTextStyle" ng-click="saveDealerInformation()">Submit & Start Audit</button>
        </ion-footer-bar>
    </div>
  </ion-pane>
</ion-nav-view>
